@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  /*Color*/
  --colorRed: #fc4747;
  --colorDarkBlue: #10141e;
  --colorGreyishBlue: #5a698f;
  --colorSemiDarkBlue: #161d2f;
  --colorWhite: #ffffff;

  /*Typography*/
  --fontFAll: "Outfit", serif;
  --prst-tipe-1: 32px;
  --prst-tipe-2: 24px;
  --prst-tipe-3: 18px;
  --prst-tipe-4: 15px;
  --prst-tipe-5: 13px;
}

.titles {
  display: block;
  color: var(--colorWhite);
  font-size: var(--prst-tipe-1);
  margin-bottom: 25px;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontFAll);

  body {
    height: fit-content;
    background-color: var(--colorDarkBlue);

    #content__allAplicationEntertainment {
      height: fit-content;
    }

    .content__allHomeEntertaimentApp {
      min-height: fit-content;
    }
  }
}
