.content__allHomeAplicaction {
  display: flex;
  height: fit-content;
  padding-bottom: 2rem;
  overflow-x: hidden;

  .content__sideNavbar-homeAplication {
    width: fit-content;
    height: 100vh;
    padding: 1.5rem;
  }

  .content__homeAplication {
    margin-top: 3rem;
    width: 100%;

    .search-movies {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-bottom: 34px;

      .search-movies__input {
        width: calc(100% - 220px);

        outline: none;
        border: none;
        background-color: transparent;
        color: var(--colorWhite);
        font-size: var(--prst-tipe-3);
        padding-bottom: 1rem;
        transition: 0.5s ease-in-out;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        font-weight: 400;

        &::placeholder {
          font-size: var(--prst-tipe-3);
          color: hsl(0, 0%, 100%, 50%);
          font-weight: 400;
        }

        &:hover {
          border-color: var(--colorGreyishBlue);
        }

        &:focus {
          border-color: var(--colorGreyishBlue);
        }
      }
    }

    .content__trendingHomeAplication {
      .content__carousel-trending {
        width: 100%;
        display: flex;
        gap: 40px;
        overflow-x: auto;
        padding-right: 150px;

        &::-webkit-scrollbar {
          display: none;
        }

        .bx-cardCaousel {
          min-width: 470px;
        }
      }
    }

    .content_dashboardMovies {
      width: 90vw;
      height: 100%;
      margin-top: 2rem;

      .dashboardMovies {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 40px;

        .bx-cardDashboardMovies {
          min-width: 280px;
          min-height: 226px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .content__allHomeAplicaction {
    flex-direction: column;
    .content__sideNavbar-homeAplication {
      width: 100%;
      height: fit-content;
    }

    .content__homeAplication {
      margin-top: 0;

      .search-movies {
        padding-left: 1.5rem;
      }
    }
  }
}
