@import url(../../index.css);

.allNavbar {
  width: fit-content;
  height: 100%;
  background-color: var(--colorSemiDarkBlue);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.4rem;

  .btns-navbar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 75px;
  }

  .bx-image-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--colorWhite);

    .avatar {
      width: 100%;
    }
  }
}

@media screen and (max-width: 824px) {
  .allNavbar {
    width: 100%;
    height: 72px;
    justify-content: space-between;
    flex-direction: row;

    .btns-navbar {
      flex-direction: row;
      flex-grow: initial;
      margin: 0;
      user-select: none;
    }
  }
}

@media screen and (max-width: 508px) {
  .allNavbar {
    .btns-navbar {
      gap: 20px;
    }
  }
}
